<div id="headerback">
	<div id="headerborder">
		<div id="header">
			<h1><span class="first">plural</span><span class="second">.</span><span class="third">cc</span></h1>
			<h2><%= has_content?(:heading) ? yield(:heading) : 'Plural Projects' %></h2>
			<%= has_content?(:appbar) ? yield(:appbar) : '' %>
			<div id="appbar">
				<span id="redminemenu">
					<span>
						Redmine Menu
					</span>
					<%= render_menu :top_menu if User.current.logged? || !Setting.login_required? -%>
					<%= render_menu :account_menu -%>
				</span>
			</div>	
		</div>
	</div>
</div>
